.Header img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 20px;
  padding: 10px 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.Header__down {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 12px 12px;
  border-bottom: 1px solid lightgrey;
}

.Header__hamburger {
  color: #04b5f1;
  font-size: 30px;
}

.Header__down input {
  padding: 0 0 0 10px;
  width: 80%;
  height: 28px;
  border: 0;
  background-color: #eaeff1;
  border-radius: 24px;
  outline: none;
}

.Header__down--profile {
  width: 35px !important;
  height: 35px !important;
  border: 1px solid;
  border-radius: 100%;
}
